@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;

}

::-webkit-scrollbar {
  width: 5px;
  background: grey;
}

::-webkit-scrollbar-thumb {
  background-color: var(--foreground);
  border-radius: 25px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol, 
li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

button {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
}

ul,
ol {
  list-style: none;
}

:root {
  --background: #ffffffcb;
  --foreground: #171717;
  --background-nav: #ffffff;
  --background-image: rgba(255, 255, 255, 0.507);
  --container-width: min(1440px, 100%)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-image: rgba(0, 0, 0, 0.74);
    --background-nav: #000000;
    --background: #000000a1;
    --foreground: #ededed;
    --container-width: min(1440px, 100%)
  }
}

body {
  color: var(--foreground);
  background: url('../../public/portfolio-bg.avif'), var(--background-image);
  background-blend-mode: color;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

.container {
  min-width: var(--container-width);
  max-width: var(--container-width);
  background: var(--background);
  display: flex;
  align-items: center;
  min-height: calc(100vh - 62px);
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  transition: opacity 2s ease;

}

.section__container {
  min-width: var(--container-width);
  max-width: var(--container-width);
  background: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.div__status {
  width: 0;
  transition-property: width;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1000ms;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.tool_text { 
  font-size: clamp(1.125rem, 0.9733rem + 0.6472vw, 1.75rem);
}

@media (728px <= width < 1024px) {
}

@media (375px <= width < 728px) {
}

@media (width < 375px) {
}
