.header {
  font-size: 20px;
  position: sticky;
  top: 0;
  z-index: 10;
  line-height: 20px;
  font-family: var(--font-main);
}

.headerNav {
  padding: 20px;
  background-color: var(--background-nav);
  border-bottom: 2px solid;
  width: 100%;
  border-color: var(--foreground);  
}